section {
    padding: 150px 20px;
    border-bottom: 1px solid #ddd;
}

#home {
    background-color: #f0f0f0;
}

#about {
    background-color: #e0e0e0;
}

#services {
    background-color: #d0d0d0;
}

#locations {
    background-color: #c0c0c0;
}

#contact {
    background-color: #b0b0b0;
}
